@model VEXE.Models.order
@{
    ViewBag.Title = "Thông tin đặt vé";
    Layout = "~/Views/Shared/_layOutSite.cshtml";
}
<section class="booking">
    <div class="container bg-white" style="margin-bottom:50px">
        <div class="row">
                <div class="booking-confirmed booking-outer"
            <div class="col-md-8" >
                    <div class="confirmation-title">
                        <div class="form-title form-title-1">
                            <h2 class="text-danger">Thông tin đặt vé</h2>
                        </div>
                      <p class="text-success">Đặt vé thành công chờ xác nhận nhé</p>
                        <div class="payment-info detail">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="confirmation-details detail">
                                        <table>
                                            <tbody>
                                                <tr>
                                                    <td class="title">Mã vé đặt</td>
                                                    <td class="b-id">@Model.ID</td>
                                                </tr>
                                                <tr>
                                                    <td class="title">Tên khách hàng</td>
                                                    <td>@Model.name </td>
                                                </tr>
                                                <tr>
                                                    <td class="title">Email</td>
                                                    <td>@Model.email</td>
                                                </tr>
                                                <tr>
                                                    <td class="title">Số điện thoại</td>
                                                    <td>@Model.phone</td>
                                                </tr>
                                                <tr>
                                                    <td class="title">Số vé</td>
                                                    <td>@Model.guestTotal</td>
                                                </tr>
                                                <tr>
                                                    <td class="title">Giới tính</td>
                                                    <td>@Model.gioitinh</td>
                                                </tr>
                                                <tr>
                                                    <td class="title">Quốc gia</td>
                                                    <td>@Model.quoctich</td>
                                                </tr>
                                                <tr>
                                                    <td class="title">Lời nhắn</td>
                                                    <td>@Model.mess</td>
                                                </tr>
                                                <tr>
                                                    <td class="title">Ngày tạo</td>
                                                    <td>@Model.created_ate.ToString("dd-MM-yyy HH:mm tt")</td>
                                                </tr>
                                                <tr>
                                                    <td class="title">Tổng tiền thanh toán:</td>
                                                    <td><h4 class="text-danger"> @Model.total.ToString("N0") VND</h4></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                <div class="col-md-4" style="margin-top: 120px;left:10px">
                    @Html.Action("_BookingConnfig", "Checkout", new { orderId = Model.ID })
                    <h3> Total: @Model.total.ToString("N0") VND</h3>

                    <div class="billing-back-btn">
                        <div class="billing-btn">                    
                                <a class="btn-blue btn-red btn-style-1 " href="/Customer/canelOrder?OrderId=@Model.ID">Hủy đặt vé</a>
                        </div>
                    </div>
                </div>     
        </div>
    </div>
</section>